<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="hand_iiwa"/>
  <arg name="gui" default="true"/>
  <arg name="sim" default="true"/>
  <arg name="start_home" default="$(arg sim)"/>
  <arg name="hardware_interface" default="PositionJointInterface"/>
  <arg name="robot_description" default="$(find sr_description)/robots/handlit_iiwa7.urdf.xacro" />
  <arg name="world" default="$(find iiwa_fri_gazebo)/worlds/iiwa.world"/>
  <arg name="initial_z" default="0.745" />
  <include file="$(find handlit_iiwa7_bioik)/launch/demo.launch"/>
  



</launch>

