<?xml version="1.0"?>
<launch>
    <!-- LAUNCH INTERFACE -->
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <arg name="robot_name" default="iiwa"/>
    <arg name="model" default="iiwa7"/>
    <arg name="hostname" default="192.170.10.2"/>
    <arg name="port" default="30200"/>
    <arg name="description" default="true"/>

    <arg name="controllers" default="joint_state_controller $(arg hardware_interface)_trajectory_controller"/>

    <group if="$(arg description)">
        <include file="$(find iiwa_fri_description)/launch/$(arg model)_upload.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)"/>
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>
    </group>

    <group ns="$(arg robot_name)">
        <rosparam command="load" file="$(find iiwa_fri_ros)/config/joint_names.yaml" />
        <rosparam file="$(find iiwa_fri_ros)/config/$(arg robot_name)_fri_control.yaml" command="load" />
    </group>
    
    <include file="$(find iiwa_fri_ros)/launch/iiwa_hardware.launch">
        <arg name="name" value="$(arg robot_name)"/>
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
        <arg name="hostname" value="$(arg hostname)"/>
        <arg name="port" value="$(arg port)"/>
        <arg name="controllers" value="$(arg controllers)"/>
        <arg name="streamer" value="true"/>
    </include>
</launch>
